section {
  &.clips-list-section {
    overflow-x: hidden;
    // extra scrollable area for last clips
    padding-bottom: $clip-height;
  }
}

.clips-list-wrapper {
  // will-change: transform;
  transform: translateX(100vw);
  transition: transform 300ms ease-in-out;

  header {
    position: relative;
    display: flex;
    align-items: center;
    margin: $page-padding 0;

    * {
      margin-right: 10px;
    }

    span small {
      background-color: var(--color-dark-rubber);
      padding: 4px 10px;
      color: var(--color-soft-white);
    }
  }

  &.foreground {
    transform: translateX(0);
  }
}

.clips-list {
  opacity: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, 345px);
  grid-auto-flow: row;
  justify-content: center;
  gap: 28px;
}

.message {
  font-style: italic;
  color: var(--color-grey);
}
