@use "sass:math";

.timeline-header {
  position: relative;
  z-index: 1;
  margin-bottom: $page-padding;
  display: flex;
  justify-content: space-between;

  h1 {
    color: #fff;
  }

  .divider {
    $size: 4px;
    width: $size;
    height: $size;
    border-radius: 50%;
    background: var(--color-white);
  }

  .title {
    display: flex;
    align-items: center;
    margin-bottom: math.div($page-padding, 2);

    & > * {
      margin-right: 10px;
    }

    .user {
      text-transform: none;
    }
  }

  .vod-title {
    color: var(--color-soft-white);
    line-height: 1.2em;
    max-width: 25vw;
  }

  .error {
    .message {
      background-color: var(--color-dark-rubber);
      padding: 10px 8px;
      color: var(--color-bright-red);
    }
  }
}

main {
  position: relative;
  width: 100%;
  height: calc(100vh - var(--navbar-height));
  padding: $page-padding;
  z-index: 1;
}
