@use "sass:math";

.timeline-container {
  height: calc(100vh - var(--navbar-height));
  overflow: hidden;
}

.timeline {
  --translate: 100vh;
  position: relative;
  width: 100%;
  height: calc(100vh - var(--navbar-height));
  padding: $page-padding;
  z-index: 1;
  transform: translateY(var(--translate));
  transition: transform 2s $easeOutQuad;
}

.timeline-header {
  position: relative;
  z-index: 1;
  margin-bottom: $page-padding;
  display: flex;
  justify-content: space-between;

  h1 {
    color: #fff;
  }

  .divider {
    $size: 4px;
    width: $size;
    height: $size;
    border-radius: 50%;
    background: var(--color-white);
  }

  .title {
    display: flex;
    align-items: center;
    margin-bottom: math.div($page-padding, 2);

    & > * {
      margin-right: 10px;
    }

    .user {
      text-transform: none;
    }
  }

  .vod-title {
    color: var(--color-soft-white);
    line-height: 1.2em;
    max-width: 25vw;
  }

  .error {
    position: fixed;
    top: 5vh;
    right: 5vw;
    padding: 15px 20px;
    background-color: var(--color-dark-rubber);
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    opacity: 0.9;

    & > *:not(:last-child) {
      margin-bottom: 12px;
    }

    .message {
      color: var(--color-white);
      padding: 2px 0px;
    }

    .err-error {
      color: var(--color-bright-red);
    }
    .err-warn {
      color: var(--color-bright-yellow);
    }

    button {
      margin-top: 6px;
    }
  }
}
